body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.upload-section {
    margin-bottom: 20px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.upload-label:hover {
    background-color: #0056b3;
}

#file-upload {
    display: none;
}

.preview-section {
    margin-bottom: 20px;
}

#preview {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: none;
}

.size-selection {
    margin-bottom: 20px;
}

.size-selection label {
    margin-right: 10px;
}

#convert-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convert-btn:hover {
    background-color: #218838;
}

#download-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#download-link:hover {
    background-color: #138496;
}

#preview{
    width: 100px;
    margin: auto;
    
}