<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>wq3stone</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
<div id="app">
    <div class="response-area" id="response">
        <div style="padding: 10px; overflow: auto">
            <div class="messages" v-for="(item,index) in messages" v-if="index > 0">
                <div class="message" :style="item.role === 'user' ? {float: 'right'} : {float: 'left'}">
                    <div>
                        <div style="margin-bottom: 10px; font-weight: bold">{{ item.role === 'user' ? '你：' : 'AI：' }}</div>
                    </div>
                    <div style="color: gray" v-if="item.role === 'assistant'" v-html="formatContent(item.content)"></div>
                    <div style="color: gray" v-else>{{ item.content }}<p></p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="request-area">
        <el-input type="textarea" @keyup.enter.native="askChatGPT" :autofocus="true"
                  :rows="5" v-model="userInput" placeholder="输入你的问题"></el-input>
        <div style="position: absolute; right: 10px; bottom: 15px">
            <el-button @click="askChatGPT" type="primary" v-loading="loading">发送</el-button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="chat.js"></script>
</html>